.blog-post-container {
  margin: 40px auto;
  max-width: 1140px;
  padding: 0 20px;
}

.date {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: var(--tertiary-text-color);
  /* font-weight: 800; */
}

.blog-post-heading {
  text-align: center;
}

.blog-post-subheading {
  text-align: center;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 35px;
}

.blog-post-header-image {
  width: 100%;
  height: 100%;
}

#map {
  height: 50vh;
  width: 100%;
}

.stylePopup .leaflet-popup-content-wrapper {
  opacity: 0.9;
  max-width: 600px;
}

.popup-heading {
  text-align: center;
  margin: 0;
}

.star:before {
  content: '★ ';
}

.stars {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px 0;
  font-size: 23px;
  justify-content: center;
  color: #ccc;
}

.activated {
  color: #ffc700;
}

/* Select element */
#stations {
  z-index: 1111;
  position: relative;
  display: block;
  margin: 10px auto;
}

/* Footnotes */
footer {
  margin-top: 50px;
  border-top: 1px solid silver;
  font-size: 0.8em;
}

footer ol {
  padding-left: 20px;
}

/**
 * Initialiazing a `footnotes` counter on the wrapper
 */
.blog-post-container {
  counter-reset: footnotes;
}


/* article {
  counter-reset: footnotes;
} */

/**
 * Inline footnotes references
 * 1. Increment the counter at each new reference
 * 2. Reset link styles to make it appear like regular text
 */
[aria-describedby="footnote-label"] {
  counter-increment: footnotes; /* 1 */
  text-decoration: none; /* 2 */
  color: var(--primary-text-color); /* 2 */
  cursor: default; /* 2 */
  outline: none; /* 2 */
  font-weight: unset;
}

/**
 * Actual numbered references
 * 1. Display the current state of the counter (e.g. `[1]`)
 * 2. Align text as superscript
 * 3. Make the number smaller (since it's superscript)
 * 4. Slightly offset the number from the text
 * 5. Reset link styles on the number to show it's usable
 */
[aria-describedby="footnote-label"]::after {
  content: '[' counter(footnotes) ']'; /* 1 */
  vertical-align: super; /* 2 */
  font-size: 0.7em; /* 3 */
  margin-left: 2px; /* 4 */
  color: inherit; /* 5 */
  text-decoration: underline; /* 5 */
  cursor: pointer; /* 5 */
}

/**
 * Resetting the default focused styles on the number
 */
[aria-describedby="footnote-label"]:focus::after {
  outline: thin dotted;
  outline-offset: 2px;
}

[aria-label="Back to content"] {
  font-size: 0.8em;
}

/**
 * Highlight target note
 */
footer :target {
  background: var(--tertiary-text-color);
}

/**
 * Visually hidden yet accessible content
 */
/* .visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  visibility: hidden;
  opacity: 0;
} */

/* Quote */
.wp-block-quote {
  border-left: 0.25em solid;
  margin: 0 0 1.75em;
  padding-left: 1em;
}