.blog-post-container {
  margin: 40px auto;
  max-width: 1140px;
  padding: 0 20px;
}

.date {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: var(--tertiary-text-color);
  /* font-weight: 800; */
}

.blog-post-heading {
  text-align: center;
}

.blog-post-subheading {
  text-align: center;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 35px;
}

/* .full-width-image {
  width: 100%;
  height: 100%;
} */

#map {
  height: 50vh;
  width: 100%;
}

.stylePopup .leaflet-popup-content-wrapper {
  opacity: 0.9;
  max-width: 600px;
}

.popup-heading {
  text-align: center;
  margin: 0;
}

.star:before {
  content: '★ ';
}

.stars {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px 0;
  font-size: 23px;
  justify-content: center;
  color: #ccc;
}

.activated {
  color: #ffc700;
}

/* Select element */
#stations {
  z-index: 1111;
  position: relative;
  display: block;
  margin: 10px auto;
}

/* Footnotes */
footer {
  margin-top: 50px;
  border-top: 1px solid silver;
  font-size: 0.8em;
}

footer ol {
  padding-left: 20px;
}

/**
 * Initialiazing a `footnotes` counter on the wrapper
 */
.blog-post-container {
  counter-reset: footnotes;
}

/* article {
  counter-reset: footnotes;
} */

/**
 * Inline footnotes references
 * 1. Increment the counter at each new reference
 * 2. Reset link styles to make it appear like regular text
 */
[aria-describedby="footnote-label"] {
  counter-increment: footnotes;
  /* 1 */
  text-decoration: none;
  /* 2 */
  color: var(--primary-text-color);
  /* 2 */
  cursor: default;
  /* 2 */
  outline: none;
  /* 2 */
  font-weight: unset;
}

/**
 * Actual numbered references
 * 1. Display the current state of the counter (e.g. `[1]`)
 * 2. Align text as superscript
 * 3. Make the number smaller (since it's superscript)
 * 4. Slightly offset the number from the text
 * 5. Reset link styles on the number to show it's usable
 */
[aria-describedby="footnote-label"]::after {
  content: '[' counter(footnotes) ']';
  /* 1 */
  vertical-align: super;
  /* 2 */
  font-size: 0.7em;
  /* 3 */
  margin-left: 2px;
  /* 4 */
  color: inherit;
  /* 5 */
  text-decoration: underline;
  /* 5 */
  cursor: pointer;
  /* 5 */
}

/**
 * Resetting the default focused styles on the number
 */
[aria-describedby="footnote-label"]:focus::after {
  outline: thin dotted;
  outline-offset: 2px;
}

[aria-label="Back to content"] {
  font-size: 0.8em;
}

/**
 * Highlight target note
 */
footer :target {
  background: var(--tertiary-text-color);
}

/**
 * Visually hidden yet accessible content
 */
/* .visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  visibility: hidden;
  opacity: 0;
} */

/* Quote */
.wp-block-quote {
  border-left: 0.25em solid;
  margin: 0 0 1.75em;
  padding-left: 1em;
  background-color: #f6f6f6;
}

.paragraph-highlight {
  text-align: center;
  background-color: rgb(102, 173, 172, 0.2);
  font-size: 1.3em;
}

/* Pictures */
.blog-post-container img {
  /* width: 100%;
  height: 100%; */
  max-width: 100%;
}

figure {
  margin: 0;
  border: 1px solid #c8ccd1;
}

figcaption {
  color: #555;
  font-size: 15px;
  text-align: center;
  margin: 3px;
}

@media (min-width: 600px) {
  .figure-float-right {
    float: right;
    clear: right;
    margin-left: 30px;
    margin-bottom: 5px;
    width: 300px;
  }
}
@media (min-width: 800px) {
  .figure-float-right {
    width: 400px;
  }
}
@media (min-width: 1020px) {
  .figure-float-right {
    width: 500px;
  }

  body {
    line-height: 36px;
  }

  figcaption {
    line-height: 1.5;
  }
}

h2,h3 {
  color: var(--tertiary-text-color);
}